:host {
  display: grid;
  grid-template-rows: auto;
  height: var(--iff-design__grid--layout--height);
}

:host([layout='1']) {
  grid-template-columns: 1fr;
}

:host([layout='1-1']) {
  grid-template-columns: 1fr;
}

:host([layout='1-1-1']) {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1024px) {
  :host([layout='1']) {
    grid-template-columns: 1fr;
  }

  :host([layout='1-1']) {
    grid-template-columns: 1fr 1fr;
  }

  :host([layout='1-1-1']) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
