:host {
  --iff-playground__border--width: 5rem;
  --iff-playground__dimensions--width: 200vw;
  --iff-playground__dimensions--height: 200vh;
}

.playground {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  /* min-width: var(--iff-playground__dimensions--width); */
  height: var(--iff-playground__dimensions--height);
  background-color: var(--iff-alias__body--background-color) black;
  padding: 50px;

  /* overflow: scroll; */
  /* border: var(--iff-playground__border--width) solid white; */
}
