:host {
  --iff-button__background-color: transparent;
  --iff-button__state--box-shadow: none;
  --iff-button__state--opacity: 100%;
}

:slotted(*) {
  --iff-state__font--color: var(
    --iff-button__font--color,
    var(--iff-alias__background-color--secondary)
  );
}

.button {
  display: flex;
  flex-direction: row;
  border: none;
  cursor: var(--iff-button__cursor, pointer);
  transition: var(--iff-alias__transition);

  background-color: var(
    --iff-button__background-color,
    var(--iff-alias__background-color--primary)
  );

  --iff-state__font--color: var(
    --iff-button__font--color,
    var(--iff-alias__background-color--secondary)
  );

  opacity: var(
    --iff-button__state--opacity,
    var(--iff-button__effect--opacity, 100%)
  );

  box-shadow: var(
    --iff-button__state--box-shadow,
    var(
      --iff-button__effect--box-shadow,
      var(
        --iff-button__hover--box-shadow,
        inset 0 0 0 1px var(--iff-alias__background-color--secondary)
      )
    )
  );

  padding: var(--iff-button__padding, 0.5rem 2rem);

  border-radius: var(
    --iff-button__border--radius,
    var(--iff-alias__border--radius)
  );
}

.button:hover {
  --iff-button__hover--box-shadow: inset 0 0 0 3px
    var(--iff-alias__background-color--secondary);
  transition: var(--iff-alias__transition);
}

:host([disabled]) {
  --iff-button__background-color: transparent;
  --iff-button__state--box-shadow: transaprent;
  --iff-button__state--opacity: 100%;
  --iff-button__cursor: auto;
  --iiff-clipped-background__state--overlay: 0;
}
