:host,
:root {
  --iff__color--white: white;
  --iff__color--black: black;
  --iff__font--family: var(--iff-alias__font--family, 'Inter', sans-serif);

  /**
  Spacing Token
 */
  --iff__dimension--01: 0.1rem;
  --iff__dimension--02: 0.2rem;
  --iff__dimension--03: 0.3rem;
  --iff__dimension--05: 0.5rem;
  --iff__dimension--08: 0.8rem;
  --iff__dimension--10: 1rem;
  --iff__dimension--12: 1.2rem;
  --iff__dimension--15: 1.5rem;
  --iff__dimension--19: 1.9rem;
  --iff__dimension--20: 2rem;
  --iff__dimension--25: 2.5rem;
  --iff__dimension--30: 3rem;
  --iff__dimension--40: 4rem;
  --iff__dimension--50: 5rem;
  --iff__dimension--60: 6rem;
  --iff__dimension--70: 7rem;

  /**
  Spacer System
  */
  --iff__spacer--xxs: var(--iff__dimension--03);
  --iff__spacer--xs: var(--iff__dimension--05);
  --iff__spacer--sm: var(--iff__dimension--08);
  --iff__spacer--md: var(--iff__dimension--10);
  --iff__spacer--lg: var(--iff__dimension--15);
  --iff__spacer--xl: var(--iff__dimension--20);
  --iff__spacer--xxl: var(--iff__dimension--25);

  --iff-alias__footer--height: var(--iff__dimension--50);
  --iff-alias__header--height: var(--iff__dimension--50);

  --iff-dynamic__navigation--indent: 15vw;
  --iff-alias__navigation--ztop: 100;
  /**
  Font styling
  */
  --iff-font-alias__weight--thin: 100;
  --iff-font-alias__weight--default: 400;
  --iff-font-alias__weight--bold: 700;
  /* --iff-alias__font--family: var(--iff__font--family); */

  /**
  Anmiations
  */
  --iff-alias__transition--intervall: 250ms ease-in;
  --iff-alias__transition: all var(--iff-alias__transition--intervall);

  /**
  Border
  */
  --iff-alias__border--radius: var(
    --iff-state__button--border-radius,
    var(--iff__dimension--05)
  );
}

body {
  background-color: var(--iff-alias__body--background-color);
}

body[theme='light'] {
  --iff-alias__color--positive: var(--iff__color--white);
  --iff-alias__color--negative: var(--iff__color--black);
  --iff-alias__color--complement: #898989;
  --iff-alias__color--accent-one: #898989;
  --iff-alias__color--accent-two: #898989;
  --iff-alias__color--accent-three: #898989;
  --iff-alias__body--background-color: var(--iff__color--white);
  --iff-alias__header--background-color: var(--iff__color--black);

  --iff-alias__font--color: var(--iff__color--black);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='black'] {
  --iff-alias__color--positive: var(--iff__color--black);
  --iff-alias__color--negative: var(--iff__color--white);
  --iff-alias__color--complement: #bfbfbf;
  --iff-alias__color--accent-one: var(--iff__color--black);
  --iff-alias__color--accent-two: var(--iff__color--black);
  --iff-alias__color--accent-three: var(--iff__color--black);
  --iff-alias__body--background-color: var(--iff__color--black);
  --iff-alias__header--background-color: var(--iff__color--white);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='blue-gradiant'] {
  --iff-alias__color--positive: #023859;
  --iff-alias__color--negative: #468fbd;
  --iff-alias__color--complement: #025486;

  --iff-alias__color--accent-one: #0477bf;
  --iff-alias__color--accent-two: #0487d9;
  --iff-alias__color--accent-three: #058fe6;
  --iff-alias__body--background-color: var(--iff__color--black);
  --iff-alias__header--background-color: var(--iff__color--white);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='redGreen'] {
  --iff-alias__color--positive: #378c55;
  --iff-alias__color--negative: #d9851e;
  --iff-alias__color--complement: #d96725;
  --iff-alias__color--accent-one: #8c170d;
  --iff-alias__color--accent-two: #d93636;
  --iff-alias__color--accent-three: #df7b7b;
  --iff-alias__body--background-color: var(--iff__color--white);
  --iff-alias__header--background-color: var(--iff__color--black);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='triColor'] {
  --iff-alias__color--positive: #291940;
  --iff-alias__color--negative: #d9d9d9;
  --iff-alias__color--complement: #3d734a;
  --iff-alias__color--accent-one: #73bf78;
  --iff-alias__color--accent-two: #262626;
  --iff-alias__color--accent-three: #df9c9c;
  --iff-alias__body--background-color: var(--iff__color--black);
  --iff-alias__header--background-color: var(--iff__color--white);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='wood'] {
  --iff-alias__color--positive: #202426;
  --iff-alias__color--negative: #d9d9d9;
  --iff-alias__color--complement: #6c733d;
  --iff-alias__color--accent-one: #9da65d;
  --iff-alias__color--accent-two: #8c8c88;
  --iff-alias__color--accent-three: #59593c;
  --iff-alias__body--background-color: var(--iff__color--black);
  --iff-alias__header--background-color: var(--iff__color--white);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='blueGreen'] {
  --iff-alias__color--positive: #3e348c;
  --iff-alias__color--negative: #d9a17c;
  --iff-alias__color--complement: #7366d9;
  --iff-alias__color--accent-one: #54aa50;
  --iff-alias__color--accent-two: #428c3b;
  --iff-alias__color--accent-three: #1b6c75;
  --iff-alias__body--background-color: var(--iff__color--white);
  --iff-alias__header--background-color: var(--iff__color--black);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='spotify'] {
  --iff-alias__color--positive: #c3f1c7;
  --iff-alias__color--negative: black;
  --iff-alias__color--complement: #9954eb;
  --iff-alias__color--accent-one: #54aa50;
  --iff-alias__color--accent-two: #428c3b;
  --iff-alias__color--accent-three: #1b6c75;
  --iff-alias__body--background-color: var(--iff__color--white);
  --iff-alias__header--background-color: var(--iff__color--white);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
}

body[theme='pantone'] {
  --iff-alias__color--positive: #f5df4d;
  --iff-alias__color--negative: #929597;
  --iff-alias__color--complement: #9954eb;
  --iff-alias__color--accent-one: #54aa50;
  --iff-alias__color--accent-two: #428c3b;
  --iff-alias__color--accent-three: #1b6c75;
  --iff-alias__body--background-color: var(--iff__color--white);
  --iff-alias__header--background-color: var(--iff__color--white);

  --iff-alias__font--color: var(--iff-alias__color--negative);
  --iff-alias__background-color--primary: var(--iff-alias__color--positive);
  --iff-alias__background-color--secondary: var(--iff-alias__color--negative);
  --iff-alias__font--family: 'Bitter', serif;
  --iff-alias__border--radius: 0rem;
}
