:host([backgroundColor='theme']) {
  --iff-background-clip__state--background-color: var(
    --iff-background-clip__disabled--background-color,
    var(--iff-alias__background-color--secondary)
  );
}

.clipped-background {
  position: relative;
  clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
  background: var(--iff-background-clip__state--background-color, white);
  padding-left: var(--iff__dimension--30);
  padding-right: var(--iff__dimension--15);
  width: fit-content;
  margin: 0 1rem 0 1rem;
}

.clipped-background:hover {
  --iff-clipped-background__overlay--opacity: 100%;
}

/* .clipped-background:after {
  clip-path: inset(10% 10% 10% 10%);
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: yellow;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  transition: all 250ms ease-in;
  opacity: var(
    --iff-clipped-background__state--overlay,
    var(--iff-clipped-background__overlay--opacity, 0)
  );
  pointer-events: none;
} */

.elevation {
  filter: drop-shadow(10px 6px 6px var(--shadow-color__layer--one));
}
